#background {
  background-color: #9900ffae;
}
#gallery {
  background-color: #9900ffae;
}
.image {
  display: inline-block;
}
.slick-arrow {
  background-color: #9900ffae !important;
  width: 50px !important;
  height: 50px !important;
  border: 5px #9900ffae solid;
  border-radius: 25px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 2000;
}
.slider {
  margin: 2% auto;
  width: 80%;
}

